<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Client index page</h1>

<a href="/logout">로그아웃</a>

</br>
</br>
</br>

<div>
    <a href="/client/register">글 작성하기</a>
</div>

</br>
</br>
</br>

<div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column">
    <table border="1" style="width: 1300px; text-align: center; border-collapse: collapse">
        <thead>
            <tr>
                <td width="80px">번호</td>
                <td width="200px">작성자</td>
                <td>제목</td>
                <td width="120px">분류</td>
                <td width="200px">등록일</td>
            </tr>
        </thead>

        <tbody>
            <th:block th:each="post : ${posts}">
                <tr>
                    <td th:text="${post.value.id}"></td>
                    <td th:text="${post.value.accountId}"></td>
                    <td th:text="${post.value.title}"></td>
                    <td th:text="${post.value.category.value}"></td>
                    <td th:text="${post.value.registerDate}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>