<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="display: flex; flex-direction: column; width: 1000px">
    <input type="hidden" name="accountId" th:value="${post.accountId}" readonly>
    <input type="text" name="title" th:value="${post.title}" readonly>
    <input type="text" name="category" th:value="${post.category.value}" readonly>
    <textarea cols="10" rows="30" name="content" th:text="${post.content}" readonly style="resize: none"></textarea>

    <br>
    <th:block th:if="${#lists.size(post.fileList) != 0}">
        <th:block th:each="files : ${post.fileList}">
            <div style="display: flex; align-items: center">
                <p th:text="${files}"></p>
                <a th:href="${'/download?filename=' + files}">[다운로드]</a>
            </div>
        </th:block>
    </th:block>

    <br>

    <h3>답변</h3>
    <form method="post" th:action="'/admin/answer/' + ${post.id}">
        <input type="hidden" th:value="${post.id}" name="postId">
        <input type="hidden" th:value="${session.admin}" name="adminId">
        <textarea cols="10" rows="10" style="resize: none; width: 100%" name="content"></textarea>

        <br>
        <br>

        <div style="display: flex; align-items: center; justify-content: end">
            <a href="/admin">목록 페이지</a>
            <button type="submit" style="margin-left: 20px">답변하기</button>
        </div>
    </form>

</div>

</body>
</html>